<div class="container">
    <div class="item">
        <h1>
            {{ Time | date: 'hh:mm:ss a' }}
        </h1>
    </div>
    <div class="item">
        <app-hall [color]="color"></app-hall>
    </div>
</div>